:root {
    --bg-primary:hsl(0deg 0% 18%);
    --bg-secondary: hsl(0, 100%, 20%);
    --btn-save-green: #3d9970;
    --btn-proceed-green-light: #00af6c;
    --btn-action-blue: #3b8cc3;
    --btn-hover-colour: #95b0c2;
    --btn-delete-red: #db4c3c; 
    --border-colour: #dee2e6;
}
body {
    background-color: #f7f7f7!important;
    overflow-x: hidden;
}
header {
    background-color: var(--bg-primary);
}
.header-container {
    display:flex;
    flex-direction: column;
}

.header-center {
    padding: 20px;
    width: 1280px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-center-menu {
    display: flex;
    gap: 15px;
    align-items: center;
}
.header-center a {
    color: white;
    text-decoration: none;
}
.header-center a:hover {
    opacity: 0.8;
    color:white;
}
.site-logo {
    max-width: 200px;
}
.site-icon-white {
    font-size:24px;
    color:white;
    cursor: pointer;
}
.site-icon-black {
    font-size:24px;
    color:black;
    cursor: pointer;
}
.header-bottom-menu {
    background-color: #fff;
    box-shadow: 2px 2px 5px lightgray;
}
.product-menu-close {
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 24px;
    display: none!important;
}
.product-menu-open {
    font-size:24px;
    color:white;
    display: none !important;
}
.header-bottom-menu .product-menu {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: auto;
    font-weight: 500;
}
.product-menu-mobile-show {
    transform: translateX(0%)!important;
}
.product-menu-item > a {
    font-weight: 400!important;
    text-transform: uppercase;
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
    font-weight: 300;
    user-select: none;
    opacity: 1;
    padding: 10px;
}
.header-bottom-menu .product-menu-item {
    padding: 5px 10px;
}
.product-menu-item a:hover {
    opacity: 0.8;
    color: var(--bg-secondary);
}


.subcategory-menus {
    display: flex;
    position: absolute;
    z-index: 14;
    background: white;
    width: 1280px;
    margin-top: 5px;
    padding: 0px 10px;
    gap: 85px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}
.subcategory-menu {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.subcategory-menu a {
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    font-weight: 400;
    padding: 5px 10px;
}
.subcategory-menu-heading {
    font-weight: 600!important;
    text-transform: uppercase!important;
    font-size: 14px;
    opacity: 0.95;
}
@media screen and (min-width: 736px) {
    .product-menu-item:hover .subcategory-menus { max-height: 1400px;}

}

/***************
***********
*/
.breadcrumbs {
    display: flex;
    align-items: center;
    background-color: var(--border-colour);
    padding: 10px;
    gap: 10px;
}
.breadcrumbs p {
    margin-bottom: 0;
}

.wrapper-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    background-image: url(empty.gif);
    cursor: pointer;
}
.page-overlay {
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black!important;
    opacity: 0.5;
    z-index: 15;
    overflow-y: hidden;
}
.disable-scroll-y {
    overflow-y: hidden;
}
.break-container{
    width:100vw;
    position:relative;
    left:calc(-1 * (100vw - 100%)/2);
}
.text-white-faded {
    color: white;
    opacity: 0.8;
}

.hero-text {
    max-width: 550px; 
    position: absolute; 
    left: 30%; 
    top: 20%; 
    transform: translate(-30%, -10%);
    z-index:4;
}

.hero-image {
    width:100%;
    min-height: 200px;
    max-height: 350px;
    object-fit:cover;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.4;
}
.backwards-navigation {
    padding: 15px;
    background-color: white;
}
.backwards-navigation a {
    color: var(--bg-primary);
}

@media screen and (max-width: 1400px) {
    .header-center {
        width: 100%;
    }
    .header-bottom-menu .product-menu, .subcategory-menus {
        width: 1100px;
    }
    .subcategory-menus {
        width: 1100px;
    }
}

@media screen and (max-width: 1200px) {
    .header-bottom-menu .product-menu, .subcategory-menus {
        width: 910px;
    }
}
@media screen and (max-width: 992px) {
    .header-bottom-menu .product-menu, .subcategory-menus {
        width: 100%;
        left: 0;
    }
}
@media screen and (max-width: 736px) {
    .product-menu-close, .product-menu-open {
        display: block!important;
    }
    .header-center {
        padding-top: 20px;
        padding-bottom:20px!important;
    }
    .site-logo {
        max-width: 150px;
    }
    .product-menu {
        top: 0;
        display: block!important;
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 55;
        background-color: #f9f9f9;
        transform: translateX(-100%);
        transition: transform 200ms ease-in-out;
    }
    .site-icon-text {
        display: none;
    }
    .header-center-menu {
        gap: 25px;
    }
    .product-menu .product-menu-item {
        border-bottom: 1px solid rgb(196, 196, 196)
    }
    .header-bottom-menu .product-menu-item {
        padding: 10px 10px;
    }

    .hero-image {
        min-height: 350px;
    }
    .hero-text {
        width: 85%;
    }
}