:root {
    --bg-primary:hsl(0deg 0% 18%);
    --bg-secondary: hsl(0, 100%, 20%);
    --btn-save-green: #3d9970;
    --btn-proceed-green-light: #00af6c;
    --btn-action-blue: #3b8cc3;
    --btn-hover-colour: #95b0c2;
    --btn-delete-red: #db4c3c; 
    --border-colour: #dee2e6;
    --text-muted: #6c757d;
    --text-muted-darker: #596168;
    --text-muted-link:rgb(94, 162, 185) ;
}
body {
    background-color: #f7f7f7!important;
    overflow-x: hidden;
}
header {
    background-color: var(--bg-primary);
}
.header-container {
    display:flex;
    flex-direction: column;
}

.header-center {
    padding: 40px 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-center-menu {
    display: flex;
    gap: 15px;
    align-items: center;
}
.header-center a {
    color: white;
    text-decoration: none;
}
.header-center a:hover {
    opacity: 0.8;
    color:white;
}
.site-logo {
    max-width: 200px;
}
.site-icon-white {
    font-size:24px;
    color:white;
    cursor: pointer;
}
.site-icon-black {
    font-size:24px;
    color:black;
    cursor: pointer;
}
#cart-icon {
    position: relative;
}
#cart-count-number {
    position: absolute;
    top: -10px;
    right: -12px;
    font-size: 10px;
    background-color: red;
    /* padding: 5px; */
    border-radius: 128px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-bottom-menu {
    background-color: #fff;
    box-shadow: 2px 2px 5px lightgray;
}
.product-menu-close {
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 24px;
    display: none!important;
}
.product-menu-open {
    font-size:24px;
    color:white;
    display: none !important;
}
.product-menu {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}
.product-menu-mobile-show {
    transform: translateX(0%)!important;
}
.product-menu-item > a {
    font-weight: 400!important;
    text-transform: uppercase;
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
    font-weight: 300;
    user-select: none;
    opacity: 1;
    padding: 10px 0px;
}
.product-menu-item {
    padding: 5px 0px;
}
.product-menu-item a:hover {
    opacity: 0.8;
    color: var(--bg-secondary);
}


.subcategory-menus {
    display: flex;
    position: absolute;
    z-index: 14;
    background: white;
    margin-top: 5px;
    padding: 0px 10px;
    gap: 85px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}
.subcategory-menu {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.subcategory-menu a {
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    font-weight: 400;
    padding: 5px 10px;
}
.subcategory-menu-heading {
    font-weight: 600!important;
    text-transform: uppercase!important;
    font-size: 14px;
    opacity: 0.95;
}
@media screen and (min-width: 736px) {
    .product-menu-item:hover .subcategory-menus { max-height: 1400px;}

}

/***************
* General helper styling used throughout the site
* Includes wrappers, overlays, scroll disables and
* a class to break out of the bootstrap container
***/
.wrapper-link-container {
    position: relative;
}
.wrapper-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    background-image: url(empty.gif);
    cursor: pointer;
}
.page-overlay {
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black!important;
    opacity: 0.5;
    z-index: 15;
    overflow-y: hidden;
}
.disable-scroll-y {
    overflow-y: hidden;
}

.break-container{
    width:100vw;
    position:relative;
    left:calc(-1 * (100vw - 100%)/2);
}

.text-white-faded {
    color: white;
    opacity: 0.8;
}

/******************************************************************************************************************************************************************************/
/******************************************************************************************************************************************************************************
* FORM CSS
******************************************************************************************************************************************************************************/
.required {
    color: var(--bs-danger);
    font-weight: 600;
    font-size: 16px;
}

.bs-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: all .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bs-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.link-button {
    border: none;
    background: transparent;
    text-decoration: underline;
    color: var(--bg-secondary);
    font-size: 14px;
    padding-left: 0px;
}

.link-button:hover {
    color:var(--bs-danger);
}
/*************************************************************************/

.hero-container {
    background: rgba(0, 0, 0, 0.8)!important;
    overflow-y: auto;
}

.hero-text {
    max-width: 550px; 
    position: absolute; 
    left: 30%; 
    top: 20%; 
    transform: translate(-30%, -10%);
    z-index:4;
    padding-left: 10px;
}

.hero-image {
    width:100%;
    min-height: 350px;
    max-height: 350px;
    object-fit:cover;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.4;
}


/********************************************************************************************
* Stylings for backwards navigation on category pages
***/
.backwards-navigation {
    padding: 10px;
    background-color: #f7f7f7!important;
    border-top: 1px solid var(--border-colour);
    border-bottom: 1px solid var(--border-colour);
    user-select: none;
}
.back-nav-content {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}
.backwards-navigation a {
    color: var(--bg-primary);
    display: block;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.9;
}
.backwards-navigation a:hover {
    color: #db4c3c;
}

.backwards-navigation p {
    margin-bottom: 0;
}
.backwards-navigation .caret {
    font-size: 20px;
    color: var(--bg-secondary);
}
.backwards-navigation .current-page {
    opacity: 0.7;
    font-size: 15px;
}
/********************************************************************************************/

/***********************************************************************************************
* Stylings for notifications
* Styles based on notication type
* currently success/error
*/
.notification {
    display: flex;
    min-width: 250px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    top: 20%;
    border-radius: 6px;
    gap: 10px;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
}
.notification-message-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding-left: 15px;
}
.close-notification-container {
    padding: 25px;
    cursor:pointer;
}
.notification-success {
    background-color: lightgreen;
    border-left: 8px solid darkgreen;
}

.notification-success i {
    font-size: 26px;
    color: darkgreen;
}
.notification-success p {
    margin-bottom: 0;
    color: darkgreen;
}

.notification-success .close-notification-container {
    background-color: rgb(104, 231, 104);
}

.notification-error {
    background-color: lightcoral;
    border-left: 8px solid darkred;
}

.notification-error i {
    font-size: 26px;
    color: darkred;
}
.notification-error p {
    margin-bottom: 0;
    color: darkred;
}

.notification-error .close-notification-container {
    background-color: rgb(252, 134, 134);
}
/*************************************************************************/

@media screen and (max-width: 1400px) {
    .header-center {
        width: 100%;
    }
    .subcategory-menus {
        left: 0;
    }
}

@media screen and (max-width: 736px) {
    .product-menu-close, .product-menu-open {
        display: block!important;
    }
    .header-center {
        padding-top: 20px;
        padding-bottom:20px!important;
    }
    .site-logo {
        max-width: 150px;
    }
    .product-menu {
        top: 0;
        display: block!important;
        position: absolute;
        height: 100vh;
        z-index: 55;
        background-color: #f9f9f9;
        transform: translateX(-100%);
        transition: transform 200ms ease-in-out;
    }
    .site-icon-text {
        display: none;
    }
    .header-center-menu {
        gap: 25px;
    }
    .product-menu .product-menu-item {
        border-bottom: 1px solid rgb(196, 196, 196)
    }
    .header-bottom-menu .product-menu-item {
        padding: 10px 10px;
    }

    .hero-image {
        min-height: 350px;
    }
    .hero-text {
        width: 85%;
    }
}

@media screen and (max-width: 576px) {
    .header-center {
        padding-left: 10px;
        padding-right: 10px;
    }
}