body {
  background-color: white !important;
}

.container-xxl {
  margin-bottom: 0 !important;
}

.cart-root {
  display: flex;
  gap: 40px;
  padding: 0px 25px;
  min-height: calc(100vh - 184px);
}
.cart-root .cart-left {
  width: 70%;
}
.cart-root .cart-right {
  width: 30%;
  padding-left: 30px;
  box-shadow: -15px 2px 39px -26px #aaaaaa;
}
.cart-root .cart-right .summary-details {
  margin-top: 15px;
  display: flex;
  gap: 25px;
}
.cart-root .cart-right .summary-details ul {
  list-style: none;
  padding-left: 0;
  font-weight: 500;
}
.cart-root .cart-right .summary-details ul li {
  padding-top: 25px;
}

.cart-header {
  margin: 40px 0px;
  padding-bottom: 10px;
}

.cart-headings {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-colour);
  padding-bottom: 10px;
}
.cart-headings p {
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 0;
  font-size: 14px;
}

.cart-item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 20px 0px;
  grid-gap: 10px;
  border-bottom: 1px solid var(--border-colour);
}
.cart-item:last-of-type {
  border-color: transparent;
}
.cart-item .cart-item-details-container {
  display: flex;
  gap: 15px;
}
.cart-item .cart-item-details-container img {
  max-width: 100px;
}
.cart-item .cart-item-details-container p {
  margin-bottom: 10px;
}
.cart-item .cart-item-details-container button {
  border: none;
  background-color: transparent;
  color: var(--bs-danger);
  padding: 0;
  margin: 0;
}
.cart-item .cart-item-details-container button:hover {
  text-decoration: underline;
}
.cart-item .quantity-container select {
  width: 60px;
  padding: 10px 0px 10px 5px;
}
.cart-item .price-discount-container {
  display: flex;
  gap: 10px;
}
.cart-item .price-inactive {
  color: grey;
  text-decoration: line-through;
}
.cart-item .price-active {
  font-weight: 500;
}
.cart-item .subtotal-container p {
  font-size: 18px;
  color: darkgreen;
  font-weight: 500;
}

.no-items-container {
  max-width: 800px;
  margin: auto;
  background-color: lightcoral;
  opacity: 0.8;
  padding: 30px;
  margin-top: 40px;
  border-radius: 6px;
}

@media screen and (max-width: 736px) {
  .cart-root {
    height: auto;
    flex-direction: column-reverse;
    padding: 0px;
    gap: 0px;
  }
  .cart-root .cart-header {
    margin: 20px 0px;
  }
  .cart-root .cart-left {
    width: 100%;
  }
  .cart-root .cart-right {
    width: 100%;
    box-shadow: none;
    padding-left: 0px !important;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-colour);
  }
  .cart-root .cart-right button {
    width: 100%;
  }
}
@media screen and (max-width: 574px) {
  .cart-left .cart-headings {
    position: absolute;
    top: -9999px;
  }
  .cart-left .cart-header {
    margin: 20px 0px;
  }
  .cart-left .cart-item {
    display: block;
  }
  .cart-left .cart-item .quantity-container {
    margin-top: -50px;
    margin-bottom: 10px;
  }
  .cart-left .cart-item .quantity-container, .cart-left .cart-item .price-container, .cart-left .cart-item .subtotal-container {
    display: flex;
    justify-content: flex-end;
  }

  .cart-right {
    padding-left: 0px !important;
  }
  .cart-right button {
    width: 100%;
  }
}

/*# sourceMappingURL=cart-page.css.map */
