.product-c {
    flex: 1;
    min-width: 250px;
    position: relative;
 }

 .product-c:hover {
    box-shadow: 2px 2px 15px lightgrey;
 }
 .product-c-image {
    max-height: 300px;
 }
 .product-c-name {
    margin-top: 10px;
    font-size: 18px;
    color: var(--bg-secondary);
    text-transform: capitalize;
 }

 .out-of-stock-tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 4px;
 }
 .product-c-price {
    color: var(--bg-secondary);
    font-weight: 600;
 }
.product-filters {
    transform: translateX(100%);
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    z-index: 15;
    transition: transform 200ms ease-in-out;
    z-index: 99;
}
.show-filters {
    transform: translateX(0%)!important;
}

.product-sort {
    padding: 15px 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid var(--border-colour);
}
.sorting-header {
    font-size: 18px;
}
.sorting-options {
    display: flex;
    gap: 10px;
}

.filter-item {
    margin: auto;
    padding: 10px 0px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 1px solid var(--border-colour);
}
.subcategory-heading {
    color: var(--bg-primary);
    text-decoration: none;
    display: block;
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 500;
}
.subcategory-links {
    max-height: 180px;
    overflow-y: auto;
    padding-left: 5px;
}

.subcategory-links::-webkit-scrollbar {
    width: 5px;
}

.subcategory-links::-webkit-scrollbar-track {
    background-color: var(--border-colour);
    border-radius: 5px;
}

.subcategory-links::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--bg-primary);
}
.subcategory-links a {
    color: var(--bg-primary);
    text-decoration: none;
    display: block;
    padding: 10px 5px;
}

@media screen and (max-width: 1200px) {
    .product-filters {
        width: 50vw;
    }
}
@media screen and (max-width: 992px) {
    .product-filters {
        width: 60vw;
    }
}
@media screen and (max-width: 736px) {
    .product-filters {
        width: 75vw;
    }
    .sorting-options {
        flex-direction: column;
    }
}