.user-root {
  display: flex;
  margin-top: 20px;
}
.user-root .sidebar-container {
  flex: 0 0 auto;
  width: 25%;
}
.user-root .sidebar-container .sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.user-root .sidebar-container .sidebar .sidebar-option {
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin: 0px 20px 0px 0px;
}
.user-root .sidebar-container .sidebar .sidebar-option:hover {
  background-color: #f0f0f0;
}
.user-root .sidebar-container .sidebar .sidebar-option.active {
  background-color: #a7caff;
  border-radius: 6px;
}
.user-root .sidebar-container .sidebar .sidebar-option.active .link-icon, .user-root .sidebar-container .sidebar .sidebar-option.active .link {
  color: #0d6efd;
}
.user-root .sidebar-container .sidebar .sidebar-option.sign-out .link-icon, .user-root .sidebar-container .sidebar .sidebar-option.sign-out .link {
  color: var(--bs-danger);
}
.user-root .sidebar-container .sidebar .sidebar-option .link-icon {
  opacity: 0.8;
  color: grey;
  display: block;
  padding: 6px;
}
.user-root .sidebar-container .sidebar .sidebar-option .link {
  opacity: 0.8;
  color: black;
  padding: 10px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  width: 100%;
}
.user-root .main-content {
  flex: 1 0 0%;
  background-color: white;
  border: 1px solid var(--border-colour);
}
.user-root .main-content .header {
  margin: 20px 10px;
  padding: 15px;
  border-radius: 6px;
}
.user-root .main-content .header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.user-root .main-content .header .top .logout {
  text-decoration: none;
  color: var(--bs-danger);
}
.user-root .main-content .header .top .logout:hover {
  text-decoration: underline;
}
.user-root .main-content .account-options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 15px;
  padding: 15px;
}
.user-root .main-content .account-options-container .account-option {
  background-color: white;
  border: 1px solid var(--border-colour);
  flex: 1 1 auto;
  cursor: pointer;
}
.user-root .main-content .account-options-container .account-option:hover {
  box-shadow: 2px 2px 15px lightgrey;
}
.user-root .main-content .account-options-container .account-option .top {
  text-align: center;
  border-bottom: 1px solid var(--border-colour);
  padding: 50px;
  margin: 0px 40px;
}
.user-root .main-content .account-options-container .account-option .top .profile-icon {
  font-size: 26px;
  background-color: var(--bg-primary);
  border-radius: 128px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  color: white;
}
.user-root .main-content .account-options-container .account-option .bottom {
  text-align: center;
  padding: 50px;
}

@media screen and (max-width: 1200px) {
  .sidebar-container {
    display: none !important;
  }
}
@media screen and (max-width: 389px) {
  .main-content > .header > .top {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 15px;
  }
}
/************
    User address page
********************/
.user-address-root {
  padding-bottom: 20px;
}

.address-item {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--border-colour);
  margin-top: 20px;
}
.address-item:first-of-type {
  margin-top: 0;
}
@media screen and (max-width: 389px) {
  .address-item {
    flex-direction: column;
  }
}
.address-item .left {
  display: flex;
  flex-direction: column;
}
.address-item .left .address-name {
  font-weight: 500;
  text-transform: uppercase;
}
.address-item .left .address-details {
  display: flex;
}
.address-item .left .address-details p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 300;
}
@media screen and (max-width: 736px) {
  .address-item .left .address-details {
    flex-direction: column;
  }
  .address-item .left .address-details .separator {
    display: none;
  }
}
.address-item .right {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
@media screen and (max-width: 736px) {
  .address-item .right {
    align-items: flex-start;
  }
}
@media screen and (max-width: 389px) {
  .address-item .right {
    margin-top: 20px;
  }
}
.address-item .right button {
  border: none;
  background-color: transparent;
  color: var(--bg-secondary);
  padding-left: 0px;
}
.address-item .right button:hover {
  text-decoration: underline;
}

.address-item-edit {
  margin: -1px 20px 0px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
}
.address-item-edit.show {
  border-bottom: 1px solid var(--border-colour);
  max-height: 2000px;
}
.address-item-edit form {
  padding: 20px;
}
.address-item-edit form label {
  font-size: 13px;
  font-weight: 700;
}
.address-item-edit form button {
  font-size: 14px;
  font-weight: 500;
}

.add-address-btn {
  width: 95%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px;
  border: 3px dashed lightgrey;
  border-radius: 8px;
  opacity: 0.8;
  margin-bottom: 20px;
  cursor: pointer;
}
.add-address-btn:hover {
  border-color: var(--bg-secondary);
}
.add-address-btn p {
  margin-bottom: 0;
  text-transform: capitalize;
  color: var(--bg-secondary);
  font-size: 24px;
}

.add-address-root {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 100px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 500ms ease-in-out;
  max-width: 600px;
  padding: 10px;
}
.add-address-root.show {
  max-height: 2000px;
  margin-top: 20px !important;
  opacity: 1 !important;
}
.add-address-root .header {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 100%;
}
.add-address-root .header p, .add-address-root .header h3 {
  margin-bottom: 0;
}
.add-address-root form label {
  font-weight: 500;
  font-size: 14px;
}

/*# sourceMappingURL=user-page.css.map */
