.user-root {
  display: flex;
  margin-top: 20px;
}
.user-root .sidebar-container {
  flex: 0 0 auto;
  width: 25%;
}
.user-root .sidebar-container .sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.user-root .sidebar-container .sidebar .sidebar-option {
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin: 0px 20px 0px 0px;
}
.user-root .sidebar-container .sidebar .sidebar-option:hover {
  background-color: #f0f0f0;
}
.user-root .sidebar-container .sidebar .sidebar-option.active {
  background-color: #a7caff;
  border-radius: 6px;
}
.user-root .sidebar-container .sidebar .sidebar-option.active .link-icon, .user-root .sidebar-container .sidebar .sidebar-option.active .link {
  color: #0d6efd;
}
.user-root .sidebar-container .sidebar .sidebar-option.sign-out .link-icon, .user-root .sidebar-container .sidebar .sidebar-option.sign-out .link {
  color: var(--bs-danger);
}
.user-root .sidebar-container .sidebar .sidebar-option .link-icon {
  opacity: 0.8;
  color: grey;
  display: block;
  padding: 6px;
}
.user-root .sidebar-container .sidebar .sidebar-option .link {
  opacity: 0.8;
  color: black;
  padding: 10px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  width: 100%;
}
.user-root .main-content {
  flex: 1 0 0%;
  background-color: white;
  border: 1px solid var(--border-colour);
}
.user-root .main-content .header {
  margin: 20px 10px;
  padding: 15px;
  border-radius: 6px;
}
.user-root .main-content .header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.user-root .main-content .header .top .logout {
  text-decoration: none;
  color: var(--bs-danger);
}
.user-root .main-content .header .top .logout:hover {
  text-decoration: underline;
}
.user-root .main-content .account-options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 15px;
  padding: 15px;
}
.user-root .main-content .account-options-container .account-option {
  background-color: white;
  border: 1px solid var(--border-colour);
  flex: 1 1 auto;
  cursor: pointer;
}
.user-root .main-content .account-options-container .account-option:hover {
  box-shadow: 2px 2px 15px lightgrey;
}
.user-root .main-content .account-options-container .account-option .top {
  text-align: center;
  border-bottom: 1px solid var(--border-colour);
  padding: 50px;
  margin: 0px 40px;
}
.user-root .main-content .account-options-container .account-option .top .profile-icon {
  font-size: 26px;
  background-color: var(--bg-primary);
  border-radius: 128px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  color: white;
}
.user-root .main-content .account-options-container .account-option .bottom {
  text-align: center;
  padding: 50px;
}

@media screen and (max-width: 1200px) {
  .sidebar-container {
    display: none !important;
  }
}
@media screen and (max-width: 389px) {
  .main-content > .header > .top {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 15px;
  }
}

/*# sourceMappingURL=user-page.css.map */
