body {
    background-color: white!important;
}

.order-confirmation-root {
    display: flex;
    padding-top: 15px;

    .left {
        background-color: white;
        padding: 30px;
        flex: 0 0 40%;

        .header {
            padding-bottom: 15px;

            p { color: var(--text-muted)}
        }

        .shipping {
            padding-bottom: 55px;
            p {
                margin-bottom: 5px;
                color: var(--text-muted);
            }
        }

        .info {
            p { color: var(--text-muted); font-size: 15px; }
        }
    }


    .right {
        padding: 30px;
        flex: 0 0 60%;
        background-color: #f7f7f7;
        .header {
            padding-bottom: 20px;
        }

        .order-items {
            margin-bottom: 30px;

            .item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                .details-left {
                    display: flex;
                    gap: 20px;

                    img { max-width:125px; }
                    .qty { color: var(--text-muted);}
                }
            }
        }

        .order-summary {

            .detail-item {
                display: flex;
                justify-content: space-between;
                p { 
                    color: var(--text-muted); 
                    margin-bottom: 5px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:736px) {
    .order-confirmation-root {
        flex-direction: column;
    }
    .order-items .item { 
        display: block!important; 
    }
    .details-left { flex-direction: column; }
    .details-left {
        img {max-width: 100%!important;}
    }
}